@model string
@{
    ViewBag.Title = "Page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpt = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("Page2Data")
    };
}
<h2>Page2</h2>
<h3>5 Movies:</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="movies5" id="tableBody">
        @Html.Action("Page2Data", new { name = Model })
    </tbody>
</table>
<hr />
@using MvcUi.Helpers
@using (Ajax.BeginForm(ajaxOpt))
{
    @Html.AutocompleteFor(name: "name", actionName: "Autocomplete", controllerName: CONSTANTS.Constans_Cinema.MOVIE_CONTROLLER)
    <p><input type="submit" value="Найти" /></p>
}

@section Scripts {
@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/bundles/autocomplite")
}
<hr />
@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    <p>Форма для нового фильма</p>
    @Html.TextBox("Name", "Input name")
    <p>Input release year:</p>
    @Html.TextBox("ReleaseYear", "Input year")
    <p><input type="submit" value="Создать" /></p>
}